<h1> Welcome to bookmark manager</h1>

<form action="/add" method="post">
<label for="name">Add your favorite website: </label>
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>