<h1> Add a tag </h1>

<form action='/bookmarks/<%= @id %>/tag' method='post'>
  <label for='text'>Enter tag here:</label>
  <input type='text' name='content'>
  <input type='submit' value='Submit'>
</form>